<div class="content">
  <div class="form-wrapper wide">
    <h1>Update employee profile</h1>
    <p>Write a recommendation for <%= "#{@employee.common_name}" %> below once you've worked together for a while.</p>
    <%= render "employee_form" %>
  </div>
</div>