  <% if current_employer.employments.present? %>
    <div class="content">
      <h1>My staff</h1>
      <%= render partial: "list_employment", collection: current_employer.employments, as: "employment" %>
    </div>
  <% else %>
    <div class="content narrow">
      <h1>Welcome <%= current_employer.first_name %>!</h1>

      <p>If you're looking for staff, start here:</p>
      <p><%= link_to "Search and hire", employees_path, class: "button" %></p>

      <p>If you want to help a current employee find their next job, post a new employee profile and add your reccommendation:</p> 
      <p><%= link_to "Post a profile", new_employee_path, class: "button alt-button" %></p>
    </div>
  <% end %>
</div>