$alt-button-color: $light-green;

#{$all-buttons}, .button {
  appearance: none;
  border: 2px solid $action-color;
  border-radius: $base-border-radius;
  color: $action-color;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: shade($action-color, 20%) !important;
    border-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.small {
    padding: 0.5em 1em;
    font-size: 85%;
  }
}

.alt-button {
  border: 2px solid $alt-button-color;
  color: $alt-button-color;

  &:hover,
  &:focus {
    color: shade($alt-button-color, 20%) !important;
    border-color: shade($alt-button-color, 20%);
    color: #fff;
  }
}
