<div class="content long-form">
  <h1>About</h1>

  <p>Staff my House helps connect domestic employees with employers who need help around the house.</p>

  <h2>For employers</h2>
  <p>Finding domestic staff can be confusing and uncertain. If you’re new to town, or want short term child care or help with an event, you usually have to ask around for a personal recommendation or post on Facebook.</p>

  <h2>For employees</h2>
  <p>Domestic employment can be stressful. If your employer leaves town you can be left without a job, or if you have a part time job you might want to work evenings or pick up extra days.</p>

  <p>Staff my House aims to bring the two sides together in a way that is convenient, trustworthy and respectful. The site is currently operating in Dar es Salaam.</p>

  <p>Staff my house was built by <%= link_to "Michael Benedict", "http://www.thebenedict.com" %>, a development worker turned computer programmer. It’s a work in progress, feel free to <%= mail_to "thebenedict@gmail.com", "reach out", subject: "Staff my House" %> with feedback.</p>
</div>