<div class="hero">
  <div class="inner">
    <div class="tagline"><h2>Domestic employees with trusted recommendations</h2></div>
    <div class="action">
      <%= link_to user_omniauth_authorize_path(:facebook), class: "button facebook-button", id: "sign-in-link" do %>
        <%= image_tag("FB-f-Logo__blue_29.png", class: "fb-logo") %> <span>Sign in with Facebook</span>
      <% end %>
    </div>
    <p class="small">We won't post to your account</p>
  </div>
</div>

<div class="home-actions">
  <div class="action">
    <h3>Looking for help?</h3>
    <%= link_to "Search and hire", employees_path, class: "button" %>
    <p>Find qualified staff, recommended by their previous employers.</p>
  </div>
  
  <div class="action">
    <h3>Leaving town?</h3>
    <%= link_to "Post a profile", new_employee_path, class: "button alt-button" %>
    <p>Show your appreciation! Help your employees find their next job.</p>
  </div>
</div>