.top-nav {
  $expanded-state: $medium-screen-up;

  @include media($expanded-state) {
    text-align: left;
  }
  @include fill-parent;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  &.solid { 
    background: $yellow;
    border-bottom: 1px solid $light-gray;
  }

  .inner {
    @include media($expanded-state) {
      padding: $base-spacing;
    }

    padding-bottom: 0.75em;
  }

  .logo {
    font-size: $base-font-size * 1.5;
    display: inline-block;
    font-family: $logo-font-family;
    color: $dark-gray;
    line-height: 1.3em;
  }

  .house {
    display: inline-block;
    max-height: 2em;
    max-width: 2em;
    margin-bottom: -0.5em;
    margin-left: -0.1em;
  }

  .menu {
    $image-height: 31px;

    @include media ($expanded-state) {
      float: right;
      display: inline-block;
      background: none;
      width: auto;
      padding: 0;
      margin-bottom: 0;
    }

    @include fill-parent;
    background: $light-green;
    padding: $small-spacing;
    margin-bottom: $small-spacing;

    a { color: $dark-gray; }

    li { 
      display: inline-block;
      padding: 0 $base-spacing;
      line-height: 1.3em;
      cursor: pointer;
      border-right: 1px solid $medium-gray;
      vertical-align: middle;
      line-height: $image-height +2px;

      &:last-child { 
        padding-right: 0;
        border-right: 0;
      }
    }

    img { 
      max-height: $image-height;
      margin-right: 0.25em;
      vertical-align: middle;
      border: 1px solid $medium-gray;
    }
  }
}